<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    <div class="container">
      <div class="card">
          <h5 class="card-title">My Basket</h5>
      </div>
      <div class="center" style="margin-top:160px">
          <img src="https://rukminim2.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
          <h4>Your Basket Is Empty!</h4>
          <h6>Add items to Basket</h6>
          <a routerLink="/shop" class="btn btn-primary" style="width:250px">
              Shop Now
          </a>
      </div>
  </div>
  </div>

  <div *ngIf="basket$ | async">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary
            (decrement)="decrementItemQuantity($event)"
            (increment)="incrementItemQuantity($event)"
            (remove)="removeBasketItem($event)"
            >
            </app-basket-summary>
          </div>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 btn-block"
            >
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

